<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ToDoList</title>
		<style>
			tr{margin:5px;}
			th{padding:5px;color:white;background:darkgray;}
			td{padding:5px;color:black;background:#f0f0f0;}
		</style>
	</head>
	<body>
		<table align="center">
			<tr>
				<td width="50%"><h1><a href="http://localhost:8080/" style="float:center">ToDo</a></h1></td>
				<td width="50%"><h1><a href="http://localhost:8080/search/" style="float:center">検索</a></h1></td>
			</tr>
		</table>
		<table align="center">
			<form method="post" action="/" th:object="${formModel}">
				<!--
				<tr>
					<td><label for="id">ID</label></td>
					<td><input type="text" name="id" th:value="*{id}"/></td>
				</tr>
				-->
				<tr>
					<td><label for="name">TITLE</label></td>
					<td><input type="text" name="name" th:value="*{name}" placeholder="title" required/></td>
				</tr>
				<tr>
					<td><label for="limitdate">DEADLINE</label></td>
					<td><input type="text" name="limitdate" th:value="*{limitdate}" placeholder="yyyy/MM/dd"  pattern="\d\d\d\d/\d\d/\d\d" required/></td>
				</tr>
				<tr>
					<td style="background:#d3d3d3"><input type="submit" value="ADD TODO!!!"/></td>
				</tr>
			</form>
		</table>
		<!--  <p th:if="${param.out[0]} eq 1" style="text-align:center">Input Is Lacking </p> -->
		<p th:if="${NULLcheck}" style="text-align:center">ToDo Does Not Exist</p>
		<table align="center">
			<tr>
				
				<th>ID</th>
				
				<th>TITLE</th>
				<th>DEADLINE</th>
				<th>EDIT</th>
				<th>PROGRESS</th>
				<th>TURN</th>
			</tr>
			<tr th:each="tde : ${tdelist}"th:object="${tde}" >
				
				<td th:text="*{id}"></td>
				

				<td th:text="*{name}"></td>
				<td th:text="*{#dates.format(limitdate,'yyyy/MM/dd')}" ></td>
				<td style="background:#d3d3d3"><form method="get" action="#" th:action="'/editor'+*{id}"><input type="submit" value="EDIT"/></form></td>
				<td th:if="*{completec} eq null">INCOMPLETE</td>
				<td th:if="*{completec} neq null" th:text="*{completec}"></td>
				<td style="background:#d3d3d3"><form  method="post" action="#" th:action="'/'+*{id}" ><label ><input name="_method" type="hidden" value="PUT"></label>
				<input type="submit" value="TURN"/></form></td>
			</tr>
		</table>
	</body>
</html>
